Repository nephio-project/nephio: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

.prow.yaml:

presubmits:
  - name: presubmit-nephio-go-test
    decorate: true
    run_if_changed: "(\\.go|^Makefile)$"
    spec:
      containers:
      - image: golang:1.20.2
        command:
        - make
        args:
        - test
  - name: presubmit-nephio-go-fmt
    decorate: true
    run_if_changed: "(\\.go)$"
    spec:
      containers:
      - image: golang:1.20.2
        command:
        - make
        args:
        - fmt
  - name: presubmit-nephio-go-vet
    decorate: true
    run_if_changed: "(\\.go)$"
    spec:
      containers:
      - image: golang:1.20.2
        command:
        - make
        args:
        - vet
  - name: presubmit-nephio-golangci-lint
    decorate: true
    run_if_changed: "(\\.go)$"
    spec:
      containers:
      - image: golang:1.20.2
        command:
        - "/bin/sh"
        - "-c"
        - |
          wget -O- -nv https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s v1.52.2
          bin/golangci-lint run -v

Enable spellcheck tox env
  .gitignore
  .spellcheck.yml
  .wordlist.txt
  README.md
  tox.ini
Due: none

adds support for unit tests, golangci-lint and gosec
  .golangci.yml
  .prow.yaml
  Makefile
Due: presubmit-nephio-go-test

aligned makefile + go.mod
  go.mod
  go.sum
  makefile
Due: none

aligned makefile
  makefile
Due: none

aligned gomod
  go.mod
Due: none

rebase
  go.mod
  go.sum
  krm-functions/lib/interface/v1alpha1/interface.go
  krm-functions/lib/interface/v1alpha1/interface_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

synced makefile
  makefile
Due: none

updated go mod and makefile
  go.mod
  go.sum
  makefile
Due: none

merged main
  go.mod
  go.sum
Due: none

updated header nephio authors
  krm-functions/lib/interface/v1alpha1/interface.go
  krm-functions/lib/interface/v1alpha1/interface_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

Call gosec directly
  .prow.yaml
Due: none

removing organisation specific copyright
  krm-functions/lib/nad/v1/nad_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

updated header to Nephio Authors
  krm-functions/lib/parser/parser.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

changed New(string) to New([]byte)
  krm-functions/lib/interface/v1alpha1/interface.go
  krm-functions/lib/interface/v1alpha1/interface_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added getters and setters using fn sdk
  krm-functions/lib/interface/v1alpha1/interface.go
  krm-functions/lib/interface/v1alpha1/interface_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added protection for nil kubeobject
  krm-functions/lib/interface/v1alpha1/interface.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added protection for nil kubeObject
  krm-functions/lib/interface/v1alpha1/interface.go
  krm-functions/lib/interface/v1alpha1/interface_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

updated go fmt
  krm-functions/lib/interface/v1alpha1/interface.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

fixed typo
  krm-functions/lib/kptrl/kptrl.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

updated header to the nephio authors
  krm-functions/lib/kptrl/kptrl.go
  krm-functions/lib/kptrl/kptrl_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added concurrency explanation
  krm-functions/lib/kptrl/kptrl.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added spell checker issues
  krm-functions/lib/kptrl/kptrl.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added namespace in the comparision
  krm-functions/lib/kptrl/kptrl.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

updated setobject with the builtin fn of the dn sdk
  krm-functions/lib/kptrl/kptrl.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added comcurrency test
  krm-functions/lib/kptrl/kptrl.go
  krm-functions/lib/kptrl/kptrl_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

Delete makefile
  makefile
Due: none

prototype
  krm-functions/lib/interface/v1alpha1/interface.go
  krm-functions/lib/interface/v1alpha1/interface_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added delete methods
  krm-functions/lib/interface/v1alpha1/interface.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

fixed go fmt
  krm-functions/lib/interface/v1alpha1/interface.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added delete tests
  krm-functions/lib/interface/v1alpha1/interface.go
  krm-functions/lib/interface/v1alpha1/interface_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added error check - linter failed
  krm-functions/lib/interface/v1alpha1/interface.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added default switch statement and error in New
  krm-functions/lib/interface/v1alpha1/interface.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

aplitted New into NewFromYaml and NewFromGoStruct
  krm-functions/lib/interface/v1alpha1/interface.go
  krm-functions/lib/interface/v1alpha1/interface_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added fail fast when spec == nil
  krm-functions/lib/interface/v1alpha1/interface.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

adeed test for newgostruct and get go struct
  krm-functions/lib/interface/v1alpha1/interface.go
  krm-functions/lib/interface/v1alpha1/interface_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added test for yaml comments
  krm-functions/lib/interface/v1alpha1/interface_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added generic structs rather then specific code for each
  krm-functions/lib/interface/v1alpha1/interface.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added delete attach type
  krm-functions/lib/interface/v1alpha1/interface_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added generic var for the common fields of the interface
  krm-functions/lib/interface/v1alpha1/interface.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint

added more comments
  krm-functions/lib/interface/v1alpha1/interface.go
Due: presubmit-nephio-go-test, presubmit-nephio-go-fmt, presubmit-nephio-go-vet, presubmit-nephio-golangci-lint
